.post{data: {article_id: article.id}}
  .time
    %span
      = t('updated')
    = datetime_ago(article.updated_at)
  %br
  .question
    = raw article.question
  %hr
  .answer
    %p
      = raw article_truncate(article.answer)
  .continue-reading
    = link_to t('read_more'), article_path(article, locale: I18n.locale), class: 'btn btn-primary'