%h1
  = t('articles')
- cache "#{I18n.locale.to_s} #{@articles}" do
  #all
    #content
      .container
        .col-sm-12.article-listing
          - @articles.each do |article|
            - cache "#{I18n.locale.to_s} #{article}" do
              = render article
        = will_paginate @articles